@page
@using Rr.Core.Data
@model Rr.Web.Pages.HttpMonitors.IndexModel
@{
    ViewData["Title"] = "Http monitors";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <table class="table">
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Url</th>
        <th>Checked at</th>
        <th>Status</th>
        <th></th>
        </thead>
        <tbody>
        @foreach (HttpMonitor monitor in Model.HttpMonitors)
        {
            <tr class="@(monitor.CheckedAt != default && monitor.Status is 0 or >= 400 ? "table-danger" : "")">
                <td>@monitor.Id</td>
                <td>@monitor.Name</td>
                <td>@monitor.Url</td>
                <td>@(monitor.CheckedAt != default ? monitor.CheckedAt.ToLocalTime() : "")</td>
                <td>@monitor.Status</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@monitor.Id" class="btn btn-primary btn-sm">Edit</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="@monitor.Id" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>
