@page
@using Rr.Core.Data
@model Rr.Web.Pages.HttpMonitors.IndexModel
@{
    ViewData["Title"] = "Http monitors";

    string GetRowStatus(HttpMonitor monitor)
    {
        if (monitor.CheckedAt != default && monitor.Status is 0 or >= 400) 
            return "table-danger";
        if (monitor.TimeoutMs > 0 && monitor.ResponseTimeMs > monitor.TimeoutMs)
            return "table-warning";

        return "";
    }
}

<form method="post">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <div>
                <button type="submit" asp-page-handler="checkAllUrls" class="btn btn-secondary btn-sm">Check all urls</button>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Url</th>
        <th>Checked at</th>
        <th>Status</th>
        <th>Time (ms)</th>
        <th></th>
        </thead>
        <tbody>
        @foreach (HttpMonitor monitor in Model.HttpMonitors)
        {
            <tr class="@GetRowStatus(monitor)">
                <td>@monitor.Id</td>
                <td>@monitor.Name</td>
                <td>
                    <a href="@monitor.Url" target="_blank">@monitor.Url</a>
                </td>
                <td>@(monitor.CheckedAt != default ? monitor.CheckedAt.ToLocalTime() : "")</td>
                <td>@(monitor.CheckedAt != default ? monitor.Status : "")</td>
                <td>@(monitor.CheckedAt != default ? monitor.ResponseTimeMs : "")</td>
                <td style="white-space:nowrap">
                    <button type="submit" asp-page-handler="checkUrl" asp-route-id="@monitor.Id" class="btn btn-secondary btn-sm">Check url</button>
                    <a asp-page="./Edit" asp-route-id="@monitor.Id" class="btn btn-primary btn-sm">Edit</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="@monitor.Id" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>
